<h2>Create a new user</h2>

<form method="POST" action="/users">
  <label for="name">Name</label>
  <input name="name" id="name" type="text" required=true>
  <label for="salutation">Salutation</label>
  <input name="salutation" id="salutation" type="text" required=true>
  <label for="email">Email</label>
  <input name="email" id="email" type="email" required=true>
  <input type="submit">
</form>